<mat-card class="city-form-card">

  <form (ngSubmit)="newSemester()" [formGroup]="form">

    <label>Datum</label>
    <input formControlName="datumUpisa" matInput required type="date"  />


    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Godina Studija</mat-label>
      <input formControlName="godinaStudija" matInput required/>
      <mat-error *ngIf="form.get('godinaStudija')?.invalid && form.get('godinaStudija')?.touched">
        <!-- Dinamičko prikazivanje grešaka -->
        <ng-container *ngIf="form.get('godinaStudija')?.errors as errors">
          <small *ngIf="errors['required']">godinaStudija is required.</small>
          <small *ngIf="errors['minlength']">
            Minimum {{ errors['minlength'].requiredLength }} characters required.
          </small>
          <small *ngIf="errors['maxlength']">
            Maximum {{ errors['maxlength'].requiredLength }} characters allowed.
          </small>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Akademska godina</mat-label>
      <mat-select formControlName="akademskaGodinaId" required>
        <mat-option *ngFor="let ay of academicYear" [value]="ay.id">
          {{ ay.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('akademskaGodinaId')?.invalid && form.get('akademskaGodinaId')?.touched">
        <ng-container *ngIf="form.get('akademskaGodinaId')?.errors as errors">
          <small *ngIf="errors['required']">Country is required.</small>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <label>Cijena skolarine</label>
    <input  formControlName="cijenaSkolarine" matInput/>

    <mat-checkbox  formControlName="obnova">Obnova godine</mat-checkbox>
<div class="form-buttons">
      <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">
        Save Changes
      </button>
      <button color="warn" mat-raised-button routerLink="/admin/cities" type="button">
        Cancel
      </button>
    </div>
  </form>
</mat-card>
